In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))

In [2]:
from lxml import etree as ET
import pandas as pd
xml_data = ET.parse("darv_or.xml")
or_namespaces = {'are': 'http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_or/v_1.0.2', 
              'dtt': 'http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_datatypes/v_1.0.2',
              'udt': 'http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/uvis_datatypes/v_1.0.1',
              'xsi': 'http://www.w3.org/2001/XMLSchema-instance'
             }
or_basic_info = []

# Vypis Vypis_OR/Uvod
Aktualizace_DB = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Uvod/dtt:Aktualizace_DB',namespaces = or_namespaces)[0].text
Datum_vypisu = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Uvod/dtt:Datum_vypisu',namespaces = or_namespaces)[0].text

# Zakladni_udaje
ICO = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:ICO',namespaces = or_namespaces)[0].text
Stav_subjektu = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:Stav/dtt:Stav_subjektu',namespaces = or_namespaces)[0].text
Konkurz = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:Stav/dtt:Konkurz/dtt:Kod',namespaces = or_namespaces)[0].text
Vyrovnani = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:Stav/dtt:Vyrovnani/dtt:Kod',namespaces = or_namespaces)[0].text
Zamitnuti = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:Stav/dtt:Zamitnuti/dtt:Kod',namespaces = or_namespaces)[0].text
Likvidace = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:Stav/dtt:Likvidace/dtt:Kod',namespaces = or_namespaces)[0].text
Datum_zapisu_OR = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:Datum_zapisu_OR',namespaces = or_namespaces)[0].text

# Pravni_forma_OR
Kod_PF = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:Pravni_forma_OR/dtt:Kod_PF',namespaces = or_namespaces)[0].text
Nazev_PF = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:Pravni_forma_OR/dtt:Nazev_PF',namespaces = or_namespaces)[0].text
PF_osoba = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:Pravni_forma_OR/dtt:PF_osoba',namespaces = or_namespaces)[0].text
TZU_osoba = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:Pravni_forma_OR/dtt:TZU_osoba',namespaces = or_namespaces)[0].text

or_basic_info_columns = ["ICO","Aktualizace_DB","Datum_vypisu","Stav_subjektu","Konkurz","Vyrovnani",
                        "Zamitnuti","Likvidace","Datum_zapisu_OR","Kod_PF","Nazev_PF","PF_osoba","TZU_osoba"]

or_basic_info_increment = [ICO, Aktualizace_DB, Datum_vypisu,Stav_subjektu,Konkurz,Vyrovnani,Zamitnuti,Likvidace,Datum_zapisu_OR,Kod_PF,
                     Nazev_PF,PF_osoba,TZU_osoba]
or_basic_info.append(or_basic_info_increment)
or_basic_info_pd = pd.DataFrame(or_basic_info,columns=or_basic_info_columns)
   
or_basic_info_pd.head(5)

,ICO,Aktualizace_DB,Datum_vypisu,Stav_subjektu,Konkurz,Vyrovnani,Zamitnuti,Likvidace,Datum_zapisu_OR,Kod_PF,Nazev_PF,PF_osoba,TZU_osoba
0,63275635,2018-08-22,2018-08-23,Aktivní,0,0,0,0,1995-08-01,121,Akciová společnost,P,Tuzemská

In [67]:
from lxml import etree as ET
import pandas as pd
import re

# input parameters
xml_namespaces = {'are': 'http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_answer_or/v_1.0.2', 
              'dtt': 'http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/ares/ares_datatypes/v_1.0.2',
              'udt': 'http://wwwinfo.mfcr.cz/ares/xml_doc/schemas/uvis_datatypes/v_1.0.1',
              'xsi': 'http://www.w3.org/2001/XMLSchema-instance'
             }
# K = record key from ancestor tag (static), I = iterative records under parent_tag 
or_sidlo_table_columns = [
    ['ICO','./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:ICO','K'],
    ['dod','./@dod','I'],
    ['ddo','./@ddo','I'],
    ['ID_adresy','./dtt:ID_adresy','I'],
    ['Kod_statu','./dtt:Kod_statu','I'],
    ['Nazev_statu','./dtt:Nazev_statu','I'],
    ['Nazev_okresu','./dtt:Nazev_okresu','I'],
    ['Nazev_obce','./dtt:Nazev_obce','I'],
    ['Nazev_casti_obce','./dtt:Nazev_casti_obce','I'],
    ['Nazev_ulice','./dtt:Nazev_ulice','I'],
    ['Cislo_domovni','./dtt:Cislo_domovni','I'],
    ['Typ_cislo_domovni','./dtt:Typ_cislo_domovni','I'],
    ['Cislo_orientacni','./dtt:Cislo_orientacni','I'],
    ['PSC','./dtt:PSC','I'],
    ['Cislo_do_adresy','./dtt:Cislo_do_adresy','I']
                      ]
# source tags
xml_data = ET.parse("darv_or.xml")
parent_tag = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:Sidlo',namespaces = xml_namespaces)

# Check if tag/attribute @ exists and return its value
def set_tag_value(attr_xpath, elem, xml_namespaces):
    if re.search('@',attr_xpath) is not None and elem.xpath(attr_xpath,namespaces = xml_namespaces) != []:# check for @ for attributes
        tag_value = elem.xpath(attr_xpath,namespaces = xml_namespaces)[0]
    elif elem.xpath(attr_xpath,namespaces = xml_namespaces) != []:
            tag_value = elem.xpath(attr_xpath,namespaces = xml_namespaces)[0].text
    else:
        tag_value = None
    return tag_value

# Iterate elements under parent tag and get element tag/attr values, static key values are assigned as well
def populate_table (xml_data,parent_tag, table_columns):
    table_columns_pd = pd.DataFrame(table_columns,columns =['tag','xpath','type'])
    iter_tag_values = []
    key_values = []
    for item in table_columns:
        if item[2] == 'K':
            key_values.append(set_tag_value(item[1],xml_data, xml_namespaces))
    if parent_tag:
        for elem in parent_tag:
            tag_values = []
            for item in table_columns:
                if item[2] == 'I':
                    tag_values.append(set_tag_value(item[1],elem, xml_namespaces)) 
            tag_values.insert(0,key_values)
            iter_tag_values.append(tag_values)
    else:
        iter_tag_values.insert(0,key_values)
    table_pd = pd.DataFrame(iter_tag_values, columns=table_columns_pd['tag'].tolist())
    return table_pd

In [68]:
populate_table(xml_data,parent_tag,sidlo_table_columns)

,ICO,dod,ddo,ID_adresy,Kod_statu,Nazev_statu,Nazev_okresu,Nazev_obce,Nazev_casti_obce,Nazev_ulice,Cislo_domovni,Typ_cislo_domovni,Cislo_orientacni,PSC,Cislo_do_adresy
0,63275635,2017-11-23,None,29643147,203,Česká republika,České Budějovice,České Budějovice,České Budějovice 4,Rudolfovská tř.,246,1,83,37001,None
1,63275635,2016-12-07,2017-11-23,29643145,203,Česká republika,České Budějovice,České Budějovice,České Budějovice 4,Rudolfovská tř.,246,1,83,37001,None
2,63275635,2002-08-14,2016-12-07,29643143,203,Česká republika,České Budějovice,České Budějovice,None,Rudolfovská,None,None,None,37050,246/83
3,63275635,1995-08-01,2002-08-14,29643141,203,Česká republika,None,České Budějovice,None,Rudolfovská,None,None,None,37050,83

In [75]:
# Vypis Vypis_OR/Uvod
Aktualizace_DB = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Uvod/dtt:Aktualizace_DB',namespaces = or_namespaces)[0].text
Datum_vypisu = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Uvod/dtt:Datum_vypisu',namespaces = or_namespaces)[0].text

# Zakladni_udaje
ICO = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:ICO',namespaces = or_namespaces)[0].text
Stav_subjektu = xml_data.xpath('./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:Stav/dtt:Stav_subjektu',namespaces = or_namespaces)[0].text

# Iterate elements under parent tag and get element tag/attr values, static key values are assigned as well
def populate_table (xml_data,parent_tag, table_columns):
    table_columns_pd = pd.DataFrame(table_columns,columns =['tag','xpath','type'])
    iter_tag_values = []
    key_values = []
    for item in table_columns:
        if item[2] == 'K':
            key_values.append(set_tag_value(item[1],xml_data, xml_namespaces))
    if parent_tag:
        for elem in parent_tag:
            tag_values = []
            for item in table_columns:
                if item[2] == 'I':
                    tag_values.append(set_tag_value(item[1],elem, xml_namespaces)) 
            tag_values.insert(0,key_values)
            iter_tag_values.append(tag_values)
    else:
        iter_tag_values.insert(0,key_values)
    table_pd = pd.DataFrame(iter_tag_values, columns=table_columns_pd['tag'].tolist())
    return table_pd

or_basics_table_columns = [
    ['ICO','./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:ICO','K'],
    ['Stav_subjektu','./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:Stav/dtt:Stav_subjektu','K'],
    ['Stav_subjektu','./are:Odpoved/dtt:Vypis_OR/dtt:Zakladni_udaje/dtt:Stav/dtt:Stav_subjektu','K'] 
]

In [77]:
populate_table(xml_data,parent_tag,or_sidlo_table_columns)

,ICO,dod,ddo,ID_adresy,Kod_statu,Nazev_statu,Nazev_okresu,Nazev_obce,Nazev_casti_obce,Nazev_ulice,Cislo_domovni,Typ_cislo_domovni,Cislo_orientacni,PSC,Cislo_do_adresy
0,[63275635],2017-11-23,None,29643147,203,Česká republika,České Budějovice,České Budějovice,České Budějovice 4,Rudolfovská tř.,246,1,83,37001,None
1,[63275635],2016-12-07,2017-11-23,29643145,203,Česká republika,České Budějovice,České Budějovice,České Budějovice 4,Rudolfovská tř.,246,1,83,37001,None
2,[63275635],2002-08-14,2016-12-07,29643143,203,Česká republika,České Budějovice,České Budějovice,None,Rudolfovská,None,None,None,37050,246/83
3,[63275635],1995-08-01,2002-08-14,29643141,203,Česká republika,None,České Budějovice,None,Rudolfovská,None,None,None,37050,83